<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="email-smtp.us-west-2.amazonaws.com" />
    <add key="Port" value="587" />
    <add key="Username" value="AKIAJNGEMM5NCNFKG6JA" />
    <add key="Password" value="Av4T8Sy4BVNY/Lp4pre2kE0uWztxtyXig+f5ejKeRaxW" />
    <add key="MaxSendRate" value="40" />
    <add key="MaxThreads" value="10" />
  </appSettings>
</configuration>