<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LiteGuard" publicKeyToken="d38e0b7ae24b08a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.0.0" newVersion="0.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>